@use "../abstracts";

// Most Important Variables
$SideBarWidth: 284px;
$LogoWidth: 120px;
$TileHeight: 30px;
$IconSize: 16px;

$PrimaryFontSize: 12px;
$SecondaryFontSize: 13px;
$TertiaryFontSize: 11px;

$Green: abstracts.$Green;
$Yellow: abstracts.$Yellow;
$Orange: abstracts.$Orange;
$Red: abstracts.$Red;
$Blue: abstracts.$Blue;
$Teal: abstracts.$Teal;
$Violet: abstracts.$Violet;

.SideBar {
  width: $SideBarWidth;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo {
    margin-top: 40px;
    width: $LogoWidth;
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .column {
    width: 228px;
    display: flex;
    flex-direction: column;
    align-content: center;

    .searchBar {
      margin-top: 12px;
      height: $TileHeight;
      border: none;
      border-radius: 6px;
      padding: 6px 13px;
      padding-left: 32px;
      background-image: url("/icons/searchIcon.png");
      background-repeat: no-repeat;
      background-position: 13px center;
      background-size: $IconSize;
      background-color: abstracts.$dark-secondary;
      color: abstracts.$white;
    }

    .searchBar::placeholder {
      font-size: $PrimaryFontSize;
    }

    .section {
      margin-top: 15px;
      p {
        color: abstracts.$white !important;
      }

      .expand1,
      .expand2,
      .expand3,
      .expand4,
      .expand5,
      .expand6 {
        height: 0px;
        overflow: hidden;
        transition: 0.4s ease-in-out;
      }

      .tile {
        height: $TileHeight;
        width: 100%;
        border: none;
        border-radius: 4px;
      }

      .categoryHeader {
        margin-bottom: 5px;
        padding-left: 13px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
          display: flex;
          align-items: center;
          .icon {
            width: $IconSize;
            height: $IconSize;
            img {
              width: 100%;
              height: auto;
              object-fit: contain;
            }
          }
          .header {
            margin-left: 8px;
            font-size: $SecondaryFontSize;
            font-weight: 300;
          }
        }
        .right {
          .showMoreInput {
            display: none;
          }

          .showMoreLabel {
            cursor: pointer;
            .showMoreIcon {
              width: $IconSize;
              height: $IconSize;
              transition: 0.4s ease-in-out;
              img {
                width: 100%;
                height: auto;
                object-fit: contain;
              }
            }
          }

          .showMoreIcon:hover {
            transform: scale(1.1);
          }
        }
      }

      .divWithText {
        .tile.search {
          margin-top: 10px;
          cursor: pointer;
        }

        .info {
          padding-left: 13px;
          font-size: $TertiaryFontSize;
          font-weight: 300;
        }

        .buttons {
          display: flex;
          justify-content: space-between;
          .tile {
            margin-top: 5px;
            width: 108px;
            background-color: abstracts.$dark-secondary;
            cursor: pointer;
          }
          .tile.marked {
            background-color: abstracts.$gray;
          }

          .tile:hover {
            background-color: abstracts.$gray;
          }
        }

        input {
          cursor: pointer;
          padding: 6px 13px;
        }

        .info:nth-of-type(2) {
          margin-top: 5px;
        }

        .instruction,
        .instructionBold {
          margin-top: 12px;
          padding-left: 16px;
          font-size: $PrimaryFontSize;
          font-weight: 300;
        }

        .instructionBold {
          font-weight: 600;
        }

        .instructionList {
          font-weight: 300;
          padding-left: 40px;
          li {
            color: abstracts.$white;
            font-size: $PrimaryFontSize;
          }
        }
      }

      .status {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        gap: 12px;

        .all,
        .producer,
        .warehouse,
        .delivery,
        .realized,
        .paid,
        .canceled {
          cursor: pointer;
          background: transparent;
          border: 1px solid abstracts.$dark-secondary;
        }

        .all {
          width: 100%;
          background-color: abstracts.$dark-secondary;
        }

        .all:hover {
          background-color: abstracts.$gray;
        }

        .all.marked {
          background-color: abstracts.$gray;
        }

        .producer {
          width: 120px;
          border-color: $Orange;
          color: $Orange;
        }

        .producer.marked,
        .producer:hover {
          background-color: $Orange;
          color: abstracts.$dark-secondary;
        }

        .warehouse {
          width: 95px;
          border-color: $Yellow;
          color: $Yellow;
        }

        .warehouse.marked,
        .warehouse:hover {
          background-color: $Yellow;
          color: abstracts.$dark-secondary;
        }

        .delivery {
          width: 95px;
          border-color: $Violet;
          color: $Violet;
        }

        .delivery.marked,
        .delivery:hover {
          background-color: $Violet;
          color: abstracts.$dark-secondary;
        }

        .realized {
          width: 120px;
          border-color: $Green;
          color: $Green;
        }

        .realized.marked,
        .realized:hover {
          background-color: $Green;
          color: abstracts.$dark-secondary;
        }

        .paid {
          width: 120px;
          border-color: $Teal;
          color: $Teal;
        }

        .paid.marked,
        .paid:hover {
          background-color: $Teal;
          color: abstracts.$dark-secondary;
        }

        .canceled {
          width: 95px;
          border-color: $Red;
          color: $Red;
        }

        .canceled.marked,
        .canceled:hover {
          background-color: $Red;
          color: abstracts.$dark-secondary;
        }
      }
    }

    .section:has(.showMoreInput:checked) {
      .expand1 {
        height: 55px;
      }

      .expand2 {
        height: 160px;
      }

      .expand3 {
        height: 146px;
      }

      .expand4 {
        height: 90px;
      }

      .expand5 {
        height: 200px;
      }

      .expand6 {
        height: 100px;
      }

      .showMoreLabel {
        .showMoreIcon {
          transform: rotate(180deg);
        }
      }
    }

    .clearFilter {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      border: 1px solid $Red;
      border-radius: 4px;
      height: $TileHeight;
      cursor: pointer;
      img {
        width: calc($IconSize + 2px);
        height: calc($IconSize + 2px);
        object-fit: contain;
        margin-right: 8px;
      }

      .clearFilterText {
        color: $Red;
        font-size: $SecondaryFontSize;
        font-weight: 300;
      }
    }

    .print {
      width: 100%;
      height: $TileHeight;
      margin-top: 20px;
      border-radius: 4px;
      background-color: abstracts.$dark-secondary;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      color: abstracts.$white;
      font-size: $SecondaryFontSize;
      transition: 0.4s ease-in-out;
      &:hover {
        background-color: abstracts.$gray;
      }

      img {
        width: calc($IconSize + 2px);
        height: calc($IconSize + 2px);
        object-fit: contain;
        margin-right: 8px;
      }
    }
  }

  .userSection {
    width: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: 40px;

    .currentUser {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: $TileHeight;
      background-color: abstracts.$dark-secondary;
      border-radius: 50px;

      .icon {
        width: $IconSize;
        height: $IconSize;
        margin-right: 8px;
        img {
          width: 100%;
          height: auto;
          object-fit: contain;
        }
      }

      .userName {
        font-size: $SecondaryFontSize;
        color: abstracts.$white;
        font-weight: 300;
      }
    }

    .options {
      margin-top: 12px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      .logout {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: $TileHeight;
        border: 1px solid $Red;
        border-radius: 50px;
        cursor: pointer;

        .icon {
          width: $IconSize;
          height: $IconSize;
          margin-right: 8px;
          img {
            width: 100%;
            height: auto;
            object-fit: contain;
          }
          display: flex;
        }

        .logoutText {
          font-size: $SecondaryFontSize;
          font-weight: 300;
          color: $Red;
        }
      }
      .settings {
        cursor: pointer;
        width: $TileHeight;
        height: $TileHeight;
        transition: 0.4s ease-in-out;
        .icon {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: auto;
            object-fit: contain;
          }
        }
      }

      .settings:hover {
        transform: rotate(360deg);
      }
    }
  }
}
