@use "../abstracts";

// Desktop Header
.Header {
  height: 120px;
  width: 100%;
  background: abstracts.$black-gradient-down;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;

  .desktopMenu.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .leftSide {
      display: flex;

      .logo {
        width: auto;
        height: 80px;
        opacity: 0.8;
      }

      .logo:hover {
        opacity: 1;
      }

      .navigation {
        ul {
          height: 100%;
          display: flex;
          align-items: center;
          list-style: none;
          li {
            margin-left: 20px;
            a {
              text-decoration: none;
              color: abstracts.$transparent-text;
              font-size: 18px;
              transition: 0.4s ease-in-out;
            }
            a:hover {
              color: abstracts.$white;
              font-size: 20px;
            }
          }
        }
      }
    }

    .rightSide {
      display: flex;
      .placeOrder {
        margin-left: 10px;
        border: none;
        height: 32px;
        padding: 0 20px;
        background-color: abstracts.$transparent-bg;
        border-radius: 50px;
        font-size: 14px;
        transition: 0.4s ease-in-out;
        a {
          color: abstracts.$white;
          text-decoration: none;
        }
      }
      .placeOrder:hover {
        background-color: abstracts.$transparent-bg-hover;
      }
    }
  }
}

// Mobile Navigation
.Header {
  height: auto;
  background: unset;
  background-color: abstracts.$black;
  .mobileMenu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 12px 10px;
    .logo {
      height: 90px!important;
      width: 30%;
      img {
        height: 100%!important;
        width: 100%;
        object-fit: contain;
      }
    }

    .column {
      height: 100%;
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      padding: 0 0 0 10px;
      .row {
        width: 100%;
        .SearchForPackage {
          width: 100%;
          margin-inline: auto;
          display: flex;
          height: 36px;
          input {
            height: 100%;
            width: calc(85% - 10px);
          }
          button {
            height: 100%;
            width: calc(15% + 10px);
            color: transparent;
            background-position: center center;
          }
        }

        .buttons {
          display: flex;
          justify-content: space-between;
          width: 100%;
          .left {
            width: 85%;
            padding-right: 10px;
            .placeOrder {
              width: 100%;
              border: none;
              height: 36px;
              padding: 0 20px;
              background-color: abstracts.$transparent-bg;
              border-radius: 50px;
              font-size: 14px;
              transition: 0.4s ease-in-out;
              a {
                color: abstracts.$white;
                text-decoration: none;
              }
            }
            .placeOrder:hover {
              background-color: abstracts.$transparent-bg-hover;
            }
          }

          .right {
            height: 36px;
            width: 15%;
            display: flex;
            justify-content: right;
            input {
              display: none;
            }
            label {
              img {
                height: 100%;
                object-fit: contain;
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .navigation {
      height: 0px;
      margin-top: 15px;
      overflow: hidden;
      transition: 1s ease-in-out;

      ul {
        list-style: none;
        li {
          margin-top: 10px;
          display: flex;
          justify-content: center;
          a {
            margin: auto;
            color: abstracts.$white;
            text-decoration: none;
            font-size: 20px;
            transition: 0.4s ease-in-out;
          }
        }
      }
    }

    .row:has(.hamburger:checked) {
      .navigation {
        height: 185px;
        display: block;
      }
    }
  }
}


// Show Proper Menu
@media (min-width: 980px) {
  .Header {
    .mobileMenu {
      display: none !important;
    }
  }
}

@media (max-width: 980px) {
  .Header {
    .desktopMenu {
      display: none !important;
    }
  }
}
