@use "../abstracts/colors" as colors;

h2 {
  color: colors.$text-secondary;
  font-size: 2rem;
  text-align: center;
  margin-top: .6em;
  margin-bottom: .2em;
}

.underHeader {
  color: colors.$text-primary;
  font-size: 1.5rem;
  text-align: center;
}

.centeredParagraph {
  color: colors.$text-primary;
  font-size: 1rem;
  text-align: center;
  margin: 0.5em;
}
