@media (max-width: 1200px) {
  .OfferSection {
    .offerCards {
      .cardTitle {
        font-size: 1.2rem !important;
      }
    }

    .underOffer {
      font-size: 1.3rem !important;
    }
  }
}

@media (max-width: 980px) {
  .HeroSection {
    margin-top: 150px;
    height: 400px;

    .heroImg {
      object-fit: cover;
      object-position: 55% 0px;
    }

    .AnimatedWaves {
      margin-top: -110px;
      position: relative;
      height: 280px;
    }
  }

  .OfferSection {
    .offerCards {
      flex-direction: column;
      .card {
        width: 310px;
        margin-bottom: 20px;
      }
    }
    .underOffer {
      font-size: 1.1rem !important;
    }
  }

  .ServiceSection {
    .service {
      flex-direction: column;
      align-items: center;
      .imageSection {
        width: unset !important;
      }

      .hintSection {
        padding: unset;
        width: 100%;

        .hintTitle {
          font-size: 1.2rem !important;
        }

        .hint {
          width: 100% !important;
          font-size: 1rem !important;
          // flex-direction: column;
          p {
            margin-left: 5px !important;
            text-align: left;
            margin: unset;
            width: 100% !important;
            font-size: 0.8rem;
          }
        }
      }
    }

    .service:nth-child(3) {
      flex-direction: column-reverse;
    }

    .benefitsTitle {
      font-size: 1.2rem !important;
    }

    .benefitsSection {
      flex-direction: column;

      .benefitsImg {
        margin-left: unset;
      }

      .benefits {
        .benefit {
          width: 100%;
          margin-bottom: -5px;
          p {
            font-size: 1rem !important;
          }
        }
      }

      .CTA {
        width: 100%;
        margin-top: 20px;
        button {
          width: 100%;
        }
      }
    }
  }

  .PriceSection {
    .priceDescription {
      flex-direction: column-reverse;
      .left {
        width: 100%;
        .priceInfo {
          margin-top: 1em;
          font-size: 1rem !important;
        }
      }

      .right {
        width: 100%;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .ContactSection {
    .contact {
      flex-direction: column-reverse;
      .contactInfo {
        .info {
          font-size: 1rem !important;
        }
      }
    }

    .contactDetails {
      flex-direction: column;
    }
  }
}
