@use "../abstracts";

.ClientsPage {
  padding: 0px 20px;
  .CRMHeader {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 40px;
    h1 {
      margin-top: 0px;
    }
  }

  main {
    width: 100%;
    max-width: 1400px;
    margin: 20px auto;

    .usersSection {
      margin-top: 22px;
      padding: 20px;
      width: 100%;
      background-color: abstracts.$dark-tertiary;
      position: relative;
      border-radius: 12px;

      .stageName {
        position: absolute;
        top: 0;
        left: 0;
        background-color: abstracts.$dark-secondary;
        border-radius: 12px 0px 12px 0;
        width: 245px;
        padding-left: 12px;
        font-size: 18px;
      }

      .users {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;

        .tableHeader {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 6px 12px;
          .userId,
          .companyName,
          .companyNip,
          .companyEmail,
          .companyPhone,
          .companyAddress,
          .userRole {
            font-size: 14px;
          }
          .userId {
            width: 40px;
          }

          .companyName {
            width: 400px;
          }

          .companyNip {
            width: 110px;
          }

          .companyEmail {
            width: 300px;
          }

          .companyPhone {
            width: 120px;
          }

          .companyAddress {
            width: 400px;
          }

          .userRole {
            width: 80px;
          }
        }

        .user {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 6px 12px;
          background-color: abstracts.$dark-secondary;
          border-radius: 6px;
          .userId,
          .companyName,
          .companyNip,
          .companyEmail,
          .companyPhone,
          .companyAddress,
          .userRole {
            font-size: 13px;
          }

          .userId {
            width: 40px;
          }

          .companyName {
            width: 400px;
          }

          .companyNip {
            width: 110px;
          }

          .companyEmail {
            width: 300px;
          }

          .companyPhone {
            width: 120px;
          }

          .companyAddress {
            width: 400px;
          }

          .userRole {
            width: 80px;
          }
        }
      }
    }
  }
}
