@use "../abstracts";

.CrmPage {
  display: flex;

  .mainContent {
    width: calc(100% - 284px);
    padding-right: 28px;
    

    main {
      margin-top: 20px;
      width: 100%;

      .table {
        width: 100%;

        .col1 {
          width: 60px;
        }

        .col2 {
          width: 120px;
        }

        .col3 {
          width: 100px;
        }

        .col4 {
          width: 140px;
        }

        .col5 {
          width: 200px;
        }

        .col6 {
          width: 200px;
        }

        .col7 {
          width: 80px;
        }

        .thead {
          padding-bottom: 6px;
          border-bottom: 2px solid abstracts.$dark-secondary;
        }

        .tr {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .th {
            font-size: abstracts.$SecondaryFontSize;
            text-align: center;
          }

          .td {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3px 0px;
            font-size: abstracts.$PrimaryFontSize;
            text-align: center;
          }
        }

        .tbody{
          .tr{
            display: flex;
            flex-direction: column;
            .mainInfo{
              width: 100%;
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }
    }
  }
}
