@use "../abstracts";

.CrmPage {
  display: flex;

  .mainContent {
    width: calc(100% - 284px);
    padding-right: 28px;

    main {
      margin-top: 20px;
      width: 100%;

      .table {
        width: 100%;

        .col1 {
          width: 60px;
        }

        .col2 {
          width: 270px;
        }

        .col3 {
          width: 100px;
        }

        .col4 {
          width: 140px;
        }

        .col5 {
          width: 200px;
        }

        .col6 {
          width: 250px;
        }

        .col7 {
          width: 80px;
        }

        .thead {
          padding-bottom: 6px;
          border-bottom: 2px solid abstracts.$dark-secondary;
        }

        .tr {
          display: flex;
          align-items: center;
          justify-content: space-between;

          &:nth-child(even) {
            background-color: abstracts.$dark-secondary;
          }

          .th {
            font-size: abstracts.$SecondaryFontSize;
            text-align: center;
          }

          .td {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3px 0px;
            font-size: abstracts.$PrimaryFontSize;
            text-align: center;

            .showMoreLabel {
              margin: 0 10px;
              transition: all 0.3s ease-in-out;
              cursor: pointer;
              .showMoreInput {
                display: none;
              }
            }

            img {
              width: 20px;
              height: 20px;
            }
          }
        }

        .tbody {
          height: calc(100vh - 230px);
          overflow-y: auto;
          .tr {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid abstracts.$dark-secondary;
            padding: 6px 0px;
            .mainInfo {
              width: 100%;
              display: flex;
              justify-content: space-between;

              .col3 {
                &.Producent .status {
                  color: abstracts.$Orange;
                  border: 1px solid abstracts.$Orange;
                  padding: 4px 10px;
                  border-radius: 4px;
                  background-color: abstracts.$dark-primary;
                  outline: none;
                  &.select{
                    width: 104px;
                  }
                }
                &.Magazyn .status {
                  color: abstracts.$Yellow;
                  border: 1px solid abstracts.$Yellow;
                  padding: 4px 10px;
                  border-radius: 4px;
                  background-color: abstracts.$dark-primary;
                  outline: none;
                  &.select{
                    width: 98px;
                  }
                }
                &.Dostawa .status {
                  color: abstracts.$Violet;
                  border: 1px solid abstracts.$Violet;
                  padding: 4px 10px;
                  border-radius: 4px;
                  background-color: abstracts.$dark-primary;
                  outline: none;
                  &.select{
                    width: 94px;
                  }
                }
                &.Zrealizowane .status {
                  color: abstracts.$Green;
                  border: 1px solid abstracts.$Green;
                  padding: 4px 10px;
                  border-radius: 4px;
                  background-color: abstracts.$dark-primary;
                  outline: none;
                  &.select{
                    width: 122px;
                  }
                }
                &.Anulowane .status {
                  color: abstracts.$Red;
                  border: 1px solid abstracts.$Red;
                  padding: 4px 10px;
                  border-radius: 4px;
                  background-color: abstracts.$dark-primary;
                  outline: none;
                  &.select{
                    width: 110px;
                  }
                }
                &.Pobranie .status {
                  color: abstracts.$Teal;
                  border: 1px solid abstracts.$Teal;
                  padding: 4px 10px;
                  border-radius: 4px;
                  background-color: abstracts.$dark-primary;
                  outline: none;
                  &.select{
                    width: 96px;
                  }
                }
              }
            }
          }

          .tr:has(.showMoreInput:checked) {
            border-bottom: none;

            .showMoreLabel {
              transform: rotate(180deg);
            }

            .detailInfo {
              height: auto;
              max-height: 600px;
              border-top: 1px solid abstracts.$dark-secondary;
            }
          }

          .detailInfo {
            width: 100%;
            max-height: 0px;
            overflow: hidden;
            transition: 0.4s linear;

            .tr {
              width: 100%;
              display: flex;
              flex-direction: row;
              padding: 6px 12px;
              border-bottom: 1px solid abstracts.$dark-secondary;

              .addInfoHeader {
                width: 300px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: abstracts.$PrimaryFontSize;
                text-align: center;

                .title {
                  font-size: abstracts.$SecondaryFontSize;
                  text-align: center;
                }

                .counter {
                  font-size: 16px;
                  text-align: center;
                  color: abstracts.$Blue;
                  margin-top: 5px;
                }
              }

              .addInfoContent {
                width: calc(100% - 300px);
                display: flex;
                justify-content: center;
                font-size: abstracts.$PrimaryFontSize;
                text-align: center;

                &.col {
                  flex-direction: column;
                }

                .additionalInfo {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-right: 32px;
                  p {
                    font-size: abstracts.$PrimaryFontSize;
                    text-align: center;
                  }
                  img {
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                  }
                }

                .row {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  padding: 6px 0px;
                  border-bottom: 1px solid abstracts.$dark-secondary;

                  &:last-child {
                    border-bottom: none;
                  }

                  .rowData {
                    margin: 0 10px;
                    font-size: abstracts.$PrimaryFontSize;
                    text-align: left;
                  }

                  .rowData1 {
                    min-width: 270px;
                  }

                  .rowData2 {
                    width: 200px;
                  }

                  .rowData3 {
                    width: 120px;
                  }

                  .rowData4 {
                    width: calc(100% - 590px);
                  }
                }

                &.note {
                  margin: 0 16px;
                  align-items: center;
                  justify-content: flex-start;
                }
              }
            }
          }
        }
      }
    }

    footer {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      p {
        font-size: abstracts.$PrimaryFontSize;
        text-align: center;
        a {
          color: abstracts.$Blue;
          text-decoration: none;
        }
      }
    }
  }
}
