.Labels {
//   width: 21cm;
//   height: 29.7cm;
  background-color: #fff;
  padding: 0.3cm;
  display: flex;
  flex-direction: column;

  .generatePdf{
    width: 150px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;

    &:hover{
      background-color: #5f5f5f;
    }
  }

  .label {
    width: 10cm;
    height: 15cm;
    border: 1px solid #000;
    padding: 0.3cm;
    color: #000;
    display: flex;
    flex-direction: column;

    p {
      font-size: 12px;
      font-weight: 400;
      display: flex;
      justify-content: space-between;
      align-items: center;
      //   flex-direction: column;
      span {
        font-size: 14px;
        font-weight: 500;
      }
    }

    header {
      img {
        height: 80px;
        object-fit: contain;
      }
    }

    main {
      margin-top: 0.5cm;
      min-height: unset;

      .mainInfo {
        display: flex;
        justify-content: space-between;

        .col {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .type {
            font-size: 36px;
            font-weight: 500;
          }

          .packagesNo {
            flex-direction: column;
            align-items: flex-start;
            span {
              font-size: 28px;
              font-weight: 500;
            }
          }
        }
      }

      .reciepientInfo {
        margin-top: 0.6cm;
      }

      .packageInfo {
        margin-top: 0.6cm;
        p {
          flex-direction: column;
          align-items: flex-start;
        }
      }
    }

    footer {
      margin-top: auto;
      margin-bottom: 0px;
      display: flex;
      justify-content: center;
    }
  }
}
