// Base Colors
$white: #ffffff;
$black: #000000;

//// Black Theme
// Transparent Colors
$transparent-bg: rgba(255, 255, 255, 0.2);
$transparent-text: rgba(255, 255, 255, 0.7);
$transparent-bg-hover: rgba(255, 255, 255, 0.5);

// Primary Colors
$text-primary: #ffffff;
$text-secondary: #00ffff;

// Gradients
$black-gradient-down: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.4) 75%, rgba(0, 0, 0, 0) 100%);

//Borders
$cyan-gradient-border: linear-gradient(0deg, #0000ff, #00ffff) border-box;

//Backgrounds

//Dark Theme
$dark-primary: #121316;
$dark-secondary: #212225;
$dark-tertiary: #191a1d;

$gray: #444345;

//Notifications
$bg-error: #ff0000;

//Colors
$Green: #24ff00;
$Yellow: #f7be16;
$Orange: #f77e21;
$Red: #ff0000;
$Blue: #3f8aff;
$Teal: #30e3df;
$Violet: #c67ace;