// Base Colors
$white: #ffffff;
$black: #000000;

//// Black Theme
// Transparent Colors
$transparent-bg: rgba(255, 255, 255, 0.2);
$transparent-text: rgba(255, 255, 255, 0.7);
$transparent-bg-hover: rgba(255, 255, 255, 0.5);

// Primary Colors
$text-primary: #ffffff;
$text-secondary: #00ffff;

// Gradients
$black-gradient-down: linear-gradient(
  180deg,
  #000 0%,
  rgba(0, 0, 0, 0.4) 75%,
  rgba(0, 0, 0, 0) 100%
);

//Borders
$cyan-gradient-border: linear-gradient(0deg, #0000ff, #00ffff) border-box;


//Backgrounds


//Dark Theme
$dark-primary: #121316;
$dark-secondary: #A6A7A8;
$dark-tertiary: #212225;
$dark-quaternary: #191A1D;