//Container width media query
.container {
  width: 100%;
  max-width: 1400px;
  margin-inline: auto;
}

@media (max-width: 1450px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 980px;
  }
}

@media (max-width: 980px) {
  .container {
    max-width: unset;
    padding: 0 5px;
  }

  // Typhography
  h1 {
    font-size: 1rem !important;
  }

  .underHeader {
    font-size: 1.2rem;
  }
}

@media (max-width: 630px) {
  h1 {
    font-size: 1rem !important;
  }
}

//Header media query


