@use "../abstracts/colors" as colors;

// Parent element must be 
// POSITION: RELATIVE
@mixin gradientBorder($border-radius: 16px) {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: $border-radius;
  border: 2px solid transparent;
  background: colors.$cyan-gradient-border;
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
