@use "abstracts";
@use "animations";
@use "base";
@use "components";
@use "pages";

:root {
  --color-text-primary: #{abstracts.$text-primary};
  --color-blue: #{abstracts.$Blue};
  --color-dark-primary: #{abstracts.$dark-primary};
  --color-red: #{abstracts.$Red};
  --color-gray: #{abstracts.$gray};
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 6px;
}
